html {
  width: 100%;
  background-color: #ff6a00;;
}
.option a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-bottom: 16px;
  padding: 8px;
  text-align: center;
  background-color: #ff6a00;
  border-radius: 8px;
  cursor: pointer;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: '8BIT WONDER', sans-serif;
  font-size: 13px;
}

h1 {
  color: #ff4015;
  font-size: 50px;
  font-family: '8BIT WONDER', sans-serif;
}

h2 {
  color: #e22400;
  font-size: 24px;
  font-family: '8BIT WONDER', sans-serif;
}

img {
  cursor: pointer;
}

#shop {
  margin-top: 32px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 16px;
  padding: 16px;
  background-color: #ff8648;
  border-radius: 8px;
}

.option h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 8px;
}

.option p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 16px;
}

.option button {
  width: 100px;
  padding: 8px;
  font-size: 16px;
  background-color: #e22400;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-container {
  display: flex;
  align-items;
}

#splash-text {
  color: yellow;
  padding: 2px 8px;
  margin-left: 310px;
  margin-top: -25px;
  font-size: 15px;
  position: absolute;
  display:block;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
@keyframes rainbow {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: violet;
  }
}

.rainbow {
  animation: rainbow 2s infinite;
}
